<div id="<%= dom_id car %>">
  <p>
    <strong>Categories:</strong>
    <%= car.Categories %>
  </p>

  <p>
    <strong>Cities:</strong>
    <%= car.Cities %>
  </p>

  <p>
    <strong>Makes:</strong>
    <%= car.Makes %>
  </p>

</div>
